.product-create-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 30%;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.required-field {
    padding: 2px 8px;
    margin-left: 10px;
    background-color: red;
    font-size: 0.9em;
    color: #f0f0f0;
}

.register__file {
    display: flex;
    align-items: center;
}

.file__input {
    display: none;
}

.file__label {
    display: inline-block;
    color: #4B4B4B;
    cursor: pointer;
    margin: 1em 0;
    padding: .7em 1em;
    line-height: 1;
    background: #E0DFDE;
    font-size: 0.95em;
    transition: 0.2s;
    border: 1px solid #4B4B4B;
}

.file__name {
    display: inline-block;
    margin-left: 10px;
    color: #888888;
}

.image-preview {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
}

.optional-label {
    font-size: 0.9em;
    color: #555;
}

/* チェックボックスのベーススタイル */
.radio__input {
    display: none;
    /* デフォルトのチェックボックスを隠す */
}

.radio__label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

/* カスタムチェックボックス */
.radio__label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}

/* チェックボックスがチェックされたときのスタイル */
.radio__input:checked+.radio__label:before {
    background-color: #4CAF50;
    /* 背景色を変更 */
}

/* チェックマークのスタイル */
.radio__label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}

/* チェックされた時にチェックマークを表示 */
.radio__input:checked+.radio__label:after {
    display: block;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.text-danger {
    color: red;
}