.product-show-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-show-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-show-container p {
    font-size: 16px;
    margin-bottom: 10px;
}