/* show.css */

.product-show-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 30%;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-navigation {
    margin-bottom: 20px;
}

.header-link {
    color: #0084FF;
    font-size: 1em;
    font-family: "Courgette", cursive;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
}

.product-top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product-image-section,
.product-details-section {
    width: 48%;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: flex;
    align-items: center;
}

.register__file {
    display: flex;
    align-items: center;
}

.file__input {
    display: none;
}

.file__label {
    display: inline-block;
    color: #4B4B4B;
    cursor: pointer;
    margin: 1em 0;
    padding: .7em 1em;
    line-height: 1;
    background: #E0DFDE;
    font-size: 0.95em;
    transition: 0.2s;
    border: 1px solid #4B4B4B;
}

.file__name {
    display: inline-block;
    margin-left: 10px;
    color: #888888;
}

.image-preview {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    pointer-events: none;
}

/* チェックボックスのカスタマイズスタイル */
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    margin-right: 20px;
}

/* チェックボックス要素を隠す */
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #F8F8F8;
    border: 1px solid #4B4B4B;
    border-radius: 50%;
}

.custom-checkbox:hover .checkmark {
    background-color: #ccc;
}

/* チェックされたときのカスタムチェックマークのスタイル */
.custom-checkbox input[type="checkbox"]:checked~.checkmark {
    background-color: #4B4B4B;
    border-color: #4B4B4B;
}

/* チェックマークのアイコンをスタイリング */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked~.checkmark:after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.description-textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.btn {
    width: 150px;
    color: #000;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-secondary {
    background-color: #E0DFDE;
    border: none;
}

.btn-primary {
    background-color: #F5C800;
    border: none;
}

.text-danger {
    color: red;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: red;
}

.delete-button:hover {
    color: darkred;
}

.product-show-container input::placeholder,
.product-show-container textarea::placeholder {
    color: #bbb;
}